{% extends "template.view.html" %}
{% block body %}
<div class="container">





    {% for post in posts %}

    <div class="card">
        <div class="row text-align-center">
            <span class="col-12">
                <h1>{{post.1}}</h1>
            </span>

        </div>

        <div class="card-header">

        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{post.2}}</p>
                <footer class="blockquote-footer"> --- <cite title="Source Title">{{post.3}}</cite>
                </footer>
            </blockquote>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}